<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cari Teks - Proyek Webinar Vue.js HIMIT PENS</title>
    <meta name="application-name" content="Cari Teks">
    <meta name="theme-color" content="#d90000">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://cari-teks-video-api.vercel.app">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico">
    <link rel="apple-touch-icon" href="./img/apple-touch-icon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="80" height="80">
            <linearGradient y2="32.18" x2="10.905" y1="147.24" x1="-87.531" id="A" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#d90000"/>
                <stop offset="1" stop-color="#d95700"/>
            </linearGradient>
            <path transform="matrix(.166667 0 0 .166667 15.864135 -2.243234)" d="M-44.186 13.46c-28.164 0-51 22.836-51 51s22.836 51 51 51c11.626 0 22.338-3.9 30.916-10.45l12.53 12.525c-2.256 4.35-2.5 8.67-.102 11.06L26.31 155.75c3.426 3.426 10.873 1.54 16.61-4.2 5.736-5.73 7.614-13.17 4.182-16.596l-27.145-27.156c-2.394-2.388-6.715-2.16-11.053.096L-3.63 95.37c6.548-8.578 10.445-19.287 10.445-30.9 0-28.164-22.836-51-51-51z" fill="url(#A)"/>
            <path d="M6.092 4.614v7.716l6.687-3.858z" fill="#fff"/>
        </svg>
        <h1>
            <span>Cari</span> 
            <span>Teks</span>
        </h1>
    </header>
    <main id="app" v-cloak>
        <div class="input-group">
            <div class="url">
                <label for="url">URL Video</label>
                <input type="text" id="url" class="width-half" v-model="url" placeholder="Contoh: youtube.com/watch?v=jNQXAC9IVRw"/>
                <span class="clean" @click="url = ''">&#x2715;</span>
            </div>
            <div class="keyword">
                <label for="keyword">Kata Kunci</label>
                <input type="text" id="keyword" class="width-half" v-model="keyword" placeholder="Masukkan kata atau frase yang ingin dicari"/>
                <span class="clean" @click="keyword = ''">&#x2715;</span>
            </div>
            <div class="lang" v-show="expand">
                <label for="lang">Bahasa</label>
                <select id="lang" class="appearance-none" v-model="selectedLang">
                    <option value="en">Inggris</option>
                    <option value="id">Indonesia</option>
                    <option value="other">Lainnya</option>
                </select>
                <input v-show="selectedLang === 'other'" type="text" id="custom-lang" v-model="inputLang" placeholder="Contoh: en, es, id"/>
            </div>
            <div class="size" v-show="expand">
                <label for="size" class="help" title="Berapa banyak item yang harus ditampilkan untuk setiap pencarian">Ukuran</label>
                <input type="number" id="size" min="5" max="500" v-model.number="size"/>
            </div>
            <div class="expand" @click="expand = !expand">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929" width="14" height="14" fill="currentColor" :style="{ transform: expand ? 'rotate(180deg)' : 'none' }">
                    <path d="M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z"/>
                </svg>
            </div>
        </div>
        <div class="info" v-text="info"></div>
        <ul class="list">
            <li v-for="item in result.data">
                <span v-html="item.text"></span>
                <a :href="`https://www.youtube.com/watch?v=${videoId}&t=${item.start}s`" target="_blank" v-text="formatTime(item.start)"></a>
            </li>
        </ul>
        <button class="load-more" type="button" v-show="result.isLast === false" @click="load()" v-text="`Muat Lainnya${info === '...' ? ' ...' : ''}`"></button>
    </main>
    <script src="./js/vue.min.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>
